* {
  padding: 0;
  margin: 0;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  color: var(--color-primary);
}

/* color variables */
:root {
  /* font color */
  --color-primary: #4f5665;
  --color-secondary: #f53855;
  --color-dark: #0b132a;
  --color-white: #ffffff;
  --color-border: #eeeff2;

  /* background color */
  --btn-bg: #f53838;
  --icon-bg: #ffecec;
}

/* ****************** */
/**custom components**/
/* ****************** */
.lv_container {
  width: 1140px;
  margin-left: auto;
  margin-right: auto;
}
.lv_ib li {
  display: inline-block;
}

/* ****************** */
/*******Pages**********/
/* ****************** */

/* Header start*/
.lv_main_nav {
  width: 100%;
  margin-top: 45.62px;
}
/* nav brand start */
.lv_nav_brand {
  max-height: 37px;
}
/* nav brand end */

/* main nav start*/
.lv_main_nav .lv_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.lv_main_nav .lv_nav_manu .iv_manu li {
  margin-right: 40px;
}
.lv_main_nav .lv_nav_manu .iv_manu li:last-of-type {
  margin-right: 0px;
}
.lv_main_nav .lv_nav_manu .iv_manu li a {
  text-decoration: none;
  line-height: 19px;
  color: var(--color-primary);
}
/* main nav end */

/* nav user start */
.lv_main_nav .lv_nav_user .lv_user_manu a {
  text-decoration: none;
}

.lv_main_nav .lv_nav_user .lv_user_manu .lv_nav_sign_in {
  margin-right: 30px;
}
.lv_main_nav .lv_nav_user .lv_user_manu .lv_nav_sign_in a {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: var(--color-dark);
}
.lv_main_nav .lv_nav_user .lv_user_manu .lv_nav_sign_up {
  border: 1px solid var(--color-secondary);
  box-sizing: border-box;
  border-radius: 50px;
}
.lv_main_nav .lv_nav_user .lv_user_manu .lv_nav_sign_up a {
  padding: 13px 45px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: var(--color-secondary);
}
/* nav user end */

/* Header end */

/* ****************** */
/*******Home**********/
/* ****************** */

/* section hero start*/

.lv_hero {
  margin: 100px 0px;
}
.lv_hero .lv_container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.lv_hero .lv_hero_left {
  width: 50%;
}
.lv_hero .lv_hero_left h1 {
  font-weight: 500;
  font-size: 50px;
  line-height: 70px;
  color: var(--color-dark);
  margin-bottom: 20px;
}
.lv_hero .lv_hero_left h1 span {
  font-weight: 700;
}
.lv_hero .lv_hero_right img {
  margin-right: -67px;
}
.lv_hero .lv_hero_left p {
  margin-bottom: 50px;
}
.lv_hero .lv_hero_left a {
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
  line-height: 25px;
  color: var(--color-white);
}
.lv_hero .lv_hero_left .lv_btn {
  padding: 17.5px 78.5px;
  border-radius: 10px;
}
.lv_hero .lv_hero_left .lv_btn_bg {
  background-color: var(--btn-bg);
  box-shadow: 0px 10px 24px 0px rgb(245 56 56 / 60%);
}
/* section hero end*/

/* section counter start */
.lv_counter {
  margin-bottom: 95.83px;
}
.lv_counter .lv_container {
  background-color: var(--color-white);
  border-radius: 10px;
  height: 200px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0px 10px 40px -15px rgba(0, 0, 0, 0.5);
}
.lv_counter .lv_counter_content {
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 2px solid var(--color-border);
  width: 100%;
  height: 125.57px;
}
.lv_counter .lv_counter_content:last-child {
  border: none;
}
.lv_counter .lv_counter_content .lv_counter_icon {
  margin-right: 36.5px;
}
.lv_counter .lv_counter_content .lv_counter_icon img {
  padding: 15.5px;
  background-color: var(--icon-bg);
  border-radius: 100px;
}
.lv_counter .lv_counter_content .lv_counter_data h4 {
  font-weight: bold;
  font-size: 25px;
  line-height: 30px;
  color: var(--color-dark);
}
.lv_counter .lv_counter_content .lv_counter_data h6 {
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: var(--color-primary);
}
/* section counter end */
